* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.dark {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#lampadas {
  z-index: 5;
  width: 100vw;
  height: 100vh;
}

#turn-on {
  position: absolute;
  top: 60%;
  right: 40%;
  background-color: white;
}

#turn-on-text {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
}

.no-show {
  opacity: 0;
  visibility: hidden;
}

.fade-in {
  background-color: #e0aaff;
  height: 100vh;
  width: 100vw;
  animation-name: fade-in;
  animation-duration: 4s;
  animation-timing-function: linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#main { 
  width: 100vw;
  position: absolute;
}

#mesa {
  position: fixed;
  z-index: 1;
  top: 35%;
  left: 45%;
  width: 150px;
}

#cake {
  position: fixed;
  top: 29%;
  left: 47.5%;
  width: 80px;
}

#banner-1D {
  position: fixed;
  top: 70px;
  left: -20px;
  width: 300px;
  transform: rotate(-30deg);
}

#bts {
  position: fixed;
  top: 120px;
  right: 0;
  width: 350px;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

#harry {
  position: fixed;
  top: 175px;
  left: 45%;
  width: 100px;
  transform: rotatey(180deg);

}

#levi {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 100px;
}

#banner-hb {
  position: fixed;
  top: -38%;
  left: 30%;
  width: 600px;
}

#red-velvet {
  position: fixed;
  top: 60%;
  left: 40%;
  width: 300px;
}

#sapo {
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 200px;
}

#title {
  position: fixed;
  top: 14%;
  color: black;
  left: 44%;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  animation: outdoor 2s linear 1s infinite;
}

@keyframes outdoor {
  from {
    opacity: 0;
    font-size: 0;
  }
  to {
    opacity: 1;
    font-size: 40px;
  }

}

@keyframes rotate {
  0% {
    transform: rotate(0) ;
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#photos {
  position: fixed;
  bottom: 1%;
  left: 46%;
  border: none;
  background-color: #e0aaff;
  color: white;
  animation-name: fade-in;
  animation-duration: 4s;
  animation-timing-function: linear;
}

#photos-section {
  height: 640px; 
  width: 420px;
  position: absolute;
  overflow: hidden;
  top: 5%;
  left: 35%;
  /* text-align: center; */
}

#photos-section .photos {
  width: 4400%;
  animation: fotos;
  animation-duration: 135s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#photos-section .photos div {
  display: inline-block;
}

#photos-section .photos img {
  max-height: 500px; 
  width: 416px;
 /* margin-right: 3px; */
}

@keyframes fotos {
  0% { margin-left: 0; }
  1.11% { margin-left: 0% }
  2.22% { margin-left: -100% }
  3.33% { margin-left: -100% }
  4.44% { margin-left: -200% }
  5.57% { margin-left: -200% }
  6.67% { margin-left: -300% }
  7.78% { margin-left: -300% }
  8.89% { margin-left: -400% }
  10% { margin-left: -400%; }
  11.11% { margin-left: -500% }
  12.22% { margin-left: -500% }
  13.33% { margin-left: -600% }
  14.44% { margin-left: -600% }
  15.57% { margin-left: -700% }
  16.67% { margin-left: -700% }
  17.78% { margin-left: -800% }
  18.89% { margin-left: -800% }
  20% { margin-left: -900%; }
  21.11% { margin-left: -900% }
  22.22% { margin-left: -1000% }
  23.33% { margin-left: -1000% }
  24.44% { margin-left: -1100% }
  25.57% { margin-left: -1100% }
  26.67% { margin-left: -1200% }
  27.78% { margin-left: -1200% }
  28.89% { margin-left: -1300% }
  30% { margin-left: -1300%; }
  31.11% { margin-left: -1400% }
  32.22% { margin-left: -1400% }
  33.33% { margin-left: -1500% }
  34.44% { margin-left: -1500% }
  35.57% { margin-left: -1600% }
  36.67% { margin-left: -1600% }
  37.78% { margin-left: -1700% }
  38.89% { margin-left: -1700% }
  40% { margin-left: -1800%; }
  41.11% { margin-left: -1800% }
  42.22% { margin-left: -1900% }
  43.33% { margin-left: -1900% }
  44.44% { margin-left: -2000% }
  45.57% { margin-left: -2000% }
  46.67% { margin-left: -2100% }
  47.78% { margin-left: -2100% }
  48.89% { margin-left: -2200% }
  50% { margin-left: -2200%; }
  51.11% { margin-left: -2300% }
  52.22% { margin-left: -2300% }
  53.33% { margin-left: -2400% }
  54.44% { margin-left: -2400% }
  55.57% { margin-left: -2500% }
  56.67% { margin-left: -2500% }
  57.78% { margin-left: -2600% }
  58.89% { margin-left: -2600% }
  60% { margin-left: -2700%; }
  61.11% { margin-left: -2700% }
  62.22% { margin-left: -2800% }
  63.33% { margin-left: -2800% }
  64.44% { margin-left: -2900% }
  65.57% { margin-left: -2900% }
  66.67% { margin-left: -3000% }
  67.78% { margin-left: -3000% }
  68.89% { margin-left: -3100% }
  70% { margin-left: -3100%; }
  71.11% { margin-left: -3200% }
  72.22% { margin-left: -3200% }
  73.33% { margin-left: -3300% }
  74.44% { margin-left: -3300% }
  75.57% { margin-left: -3400% }
  76.67% { margin-left: -3400% }
  77.78% { margin-left: -3500% }
  78.89% { margin-left: -3500% }
  80% { margin-left: -3600; }
  81.11% { margin-left: -3600% }
  82.22% { margin-left: -3700% }
  83.33% { margin-left: -3700% }
  84.44% { margin-left: -3800% }
  85.57% { margin-left: -3800% }
  86.67% { margin-left: -3900% }
  87.78% { margin-left: -3900% }
  88.89% { margin-left: -4000% }
  90% { margin-left: -4000%; }
  91.11% { margin-left: -4100% }
  92.22% { margin-left: -4100% }
  93.33% { margin-left: -4200% }
  94.44% { margin-left: -4200% }
  100% { margin-left: -4300%; }
}

.photos-title {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 30px;
}

#seta {
  position: fixed;
  right: 20%;
  top: 50%;
}

.texts {
  position: fixed;
  top: 0%;
  border: 1px black solid;
}

#mamae {
  left: 0;
}

#papai {
  left: 25%;
}

#toto {
  left: 50%;
}

#kikito{
  left: 75%;
}